<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login_reg.css')}}" />
    <title>Register | Login</title>
</head>

<body>
    <div class="forms-container">
        <form class="register-form" action="/submit_registration" method="POST">
            <h1 class="text-primary px-3">Register</h1>
            <div class="mb-3 px-3">
                {% for e in get_flashed_messages(category_filter="first_name") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                <label class="form-label text-light">First Name</label>
                <input type="text" name="first_name" class="form-control" />
            </div>
            <div class="mb-3 px-3">
                {% for e in get_flashed_messages(category_filter="last_name") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                <label class="form-label text-light">Last Name</label>
                <input type="text" name="last_name" class="form-control" />
            </div>
            <div class="mb-3 px-3">
                {% for e in get_flashed_messages(category_filter="email") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                {% for e in get_flashed_messages(category_filter="exists") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                <label class="form-label text-light">Email address</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="mb-3 px-3">
                {% for e in get_flashed_messages(category_filter="password") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                <label class="form-label text-light">Password</label>
                <input type="password" name="password" class="form-control"  />
            </div>
            <div class="mb-3 px-3">
                {% for e in get_flashed_messages(category_filter="confirm") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                <label class="form-label text-light">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control"  />
            </div>
            <button type="submit" class="btn btn-primary bg-primary px-3 mb-3 ms-3">Submit</button>
        </form>
        <form class="register-form" action="/submit_login" method="POST">
            <h1 class="text-success px-3">Login</h1>
            <div class="mb-3 px-3">
                {% for e in get_flashed_messages(category_filter="login") %}
                    <p style="color: red; font-weight: bold;">{{e}}</p>
                {% endfor %}
                <label class="form-label text-light">Email address</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="mb-3 px-3">
                <label class="form-label text-light">Password</label>
                <input type="password" name="password" class="form-control"  />
            </div>
            <button type="submit" class="btn btn-primary bg-success px-3 mb-3 ms-3">Submit</button>
        </form>
    </div>
</body>

</html>